body {
    color:rgb(10, 10, 9);
}

.navbar {
    padding: 1rem;
    background-color: rgb(3, 3, 3);
}

.hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0.3); /* If our image is bright, we can tone it down with this darker overlay */
    max-width: 50%;
    height: auto;
    padding-top:200px;  
    padding-bottom:200px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-background-img:after  {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}

.herotext  {
    padding-top:200px;  
    padding: 2.5em;

}

.about-me {
    padding: 4.5em; 
    left: 10em;
    right: 10em;
}

.footer {
    padding 1rem;
    background-color: orange;
}

.btn-primary:hover {
    background-color: blue;
    color: white;
}