<form action="#" class='form-inline'>
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email"/>
            <button type="submit" class="btn btn-primary mb-2">Email</button>
        </form>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-555d2f41-0c15-47cf-ab7e-06488192f9e2"></div>