<form action="#" class='form-inline'>
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email"/>
            <button type="submit" class="btn btn-primary mb-2">Email</button>
        </form>